.photo-link {
  text-align: center;
  margin-top: 15px;
}

.photo-link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4d6d;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}

.photo-link a:hover {
  transform: scale(1.05);
}
image {
    width: 300px;
    height: 300px;
}
.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    font-size: 25px;
    animation: float 8s infinite linear;
    opacity: 0.5;
}

@keyframes float {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-10vh);
    }
}
.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    font-size: 25px;
    animation: float 8s infinite linear;
    opacity: 0.5;
}

@keyframes float {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-10vh);
    }
}
.gallery img {
    width:100%;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(214,51,108,0.3);
    border:8px solid white;
    transition:0.4s;
}

